<h1 class="especial_h1">CoronaCounter</h1>
<br>
<div class="titles">
    <h1>Welcome to home page!</h1>
    <h3>Hospital: {{hospital.name}}</h3>
</div>
<br>
<div class="buttons">
    <p class="describe">What you want?</p>
    <hr>
    <a href="positive"><button>Positive Case</button></a><br>
    <a href="negative"><button>Negative Case</button></a><br>
    <a href="inconclusive"><button>Inconclusive Case</button></a><br>
    <a href="recovered"><button>Recovered</button></a><br>
</div>