<h1 class="especial_h1">CoronaCounter</h1>
<br>
<div class="titles">
    <h1>Registe new positive case!</h1>
    <h3>Hospital: {{hospital.name}}</h3>
</div>
<br>
<form class="form" action="positive" method="POST">
    <h3>Positive Case</h3>
    <hr>
    <br>
    <label class="labels" for="name">Complete Name: </label><br>
    <input class="inputs" type="text" name="name" required>
    <br>
    <br>
    <label class="labels" for="age">Age: </label><br>
    <input class="inputs" type="number" name="age" required>
    <br>
    <br>
    <label class="labels" for="sex">Sex: </label><br>
    <select name="sex" class="selects">
        <option value="male">Male</option>
        <option value="female">Female</option>
    </select>
    <br>
    <br>
    <label class="labels" for="nif">NIF: </label><br>
    <input class="inputs" type="number" name="nif" placeholder="--- --- ---" required>
    <br>
    <button class="but-submit" type="submit">Registe</button>
</form>