<h1 class="especial_h1">CoronaCounter</h1>
<br>
<div class="titles">
    <h1>Informations about Covid-19!</h1>
</div>
<br>
<div class="buttons">
    <p class="large-p" style="color: rgb(154, 252, 255);">Registered Cases:</p>
    <h4 class="count" style="color: greenyellow;">{{registered}}</h4>
    <p class="large-p" style="color: greenyellow;">Negative Cases:</p>
    <h4 class="count" style="color: greenyellow;">{{negative}}</h4>
    <p class="large-p" style="color: red">Positive Cases:</p>
    <h4 class="count" style="color: red;">{{positive}}</h4>
    <p class="large-p" style="color: yellow;">Recovety Cases:</p>
    <h4 class="count" style="color: yellow;">{{recovery}}</h4>
</div>