<h1>CoronaCounter</h1>
{{#if error}}
    <div class="error-msg">
        {{error}}
    </div>
{{else}}

{{/if}}
<form class="form" action="/login" method="POST">
    <h3>Login Hospital</h3>
    <hr>
    <br>
    <label class="labels" for="name">Hospital name: </label><br>
    <input class="inputs" type="text" name="name" required>
    <br>
    <br>
    <label class="labels" for="password">Password: </label><br>
    <input class="inputs" type="password" name="password" required><br>
    <button class="but-submit" type="submit">Login</button>
</form>