<form action="/register" method="POST">
    <label for="name">Hospital name: </label><br>
    <input type="text" name="name"><br>
    <label for="password">Password: </label><br>
    <input type="text" name="password"><br>
    <button type="submit">New Hospital</button>
</form>