<h1>CoronaCounter</h1>
<form class="form" action="/register" method="POST">
    <h3>Register New Hospital</h3>
    <hr>
    <br>
    <label class="labels" for="name">Hospital name: </label><br>
    <input class="inputs" type="text" name="name">
    <br>
    <br>
    <label class="labels" for="password">Password: </label><br>
    <input class="inputs" type="password" name="password"><br>
    <button class="but-submit" type="submit">New Hospital</button>
</form>