body{
    background-color: #2F3245;
    color: white;
    font-family: 'arial';
    text-align: center;
    margin: 0px;
}

.form{
    text-align: left;
    border-radius: 6px;
    margin: auto;
    width: 300px;
    padding: 15px;
    background-color: #262938;
}

.form h3{
    margin: 0px;
    padding: 5px 5px 5px 0px;
}

.inputs{
    border: none;
    height: 30px;
    width: 300px;
    font-size: 15pt;
    background-color: #40455E;
    color: white;
}

.labels{
    background-color: #1D202B;
    padding: 5px;
    font-size: 13pt;
}

.but-submit{
    margin-top: 13px;
    padding: 6px;
    color: white;
    background-color: #1D202B;
    font-size: 13pt;
    border: none;
}

.especial_h1{
    width: 300px;
    margin: auto;
    padding: 4px;
    font-size: 18pt;
    background-color: #1D202B
}

.titles h1, h2, h3{
    margin: 0px;
}

.buttons{
    padding: 8px;
    width: 200px;
    margin: auto;
    background-color: #40455E;
    border-radius: 4px;
}

.buttons button{
    margin: 3px;
    padding: 6px;
    color: white;
    background-color: #1D202B;
    font-size: 13pt;
    border: none;
    width: 196px;
    border-radius: 4px;
}

.describe{
    text-align: left;
    margin: 0px;
    padding: 6px;
}

.list{
    text-align: left;
    padding: 8px;
    width: 400px;
    margin: auto;
    background-color: #40455E;
    border-radius: 4px;
}

p{  
    margin: 2px;
    display: inline-block;
}

.delete-button{
    float: right;
    text-align: right;
    text-decoration: none;
    color: white;
    background-color: #AD1002;
    padding: 3px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

.error-msg{
    background-color: #AD1002;
    width: 450px;
    padding: 5px;
    margin: auto;
    margin-bottom: 15px;
    border-radius: 2px;
}

.success-msg{
    background-color: #05B32B;
    width: 450px;
    padding: 5px;
    margin: auto;
    margin-bottom: 15px;
    border-radius: 2px;
}

.selects{
    background-color: #40455E;
    color: white;
    width: 304px;
    height: 30px;
    border: none;
    font-size: 15pt;
}

hr{
    height: 3px;
    background-color: #2F3245;
    border: none;
}

.count{
    margin: 0px;
    font-size: 25pt;
}

.large-p{
    font-size: 16pt;
}