<h1 class="especial_h1">CoronaCounter</h1>
<br>
<div class="titles">
    <h1>Delete Hospital</h1>
</div>
<br>
<div class="list">
    <p>Braga Graças</p>
    <a href="" class="delete-button">Delete</a>
    <hr>
</div>