<h1 class="especial_h1">CoronaCounter</h1>
<br>
<div class="titles">
    <h1>Welcome to Administrator Route!</h1>
</div>
<br>
<div class="buttons">
    <p class="describe">What did you prefer?</p>
    <hr>
    <a href="adm/register"><button>New hospital</button></a><br>
    <a href="adm/deleteHosp"><button>Delete Hospital</button></a><br>
</div>